<p>CameraVAR.ro este un newsletter dedicat Ligii 1, scris de Ștefan Beldie.</p>

<p>
  Abonează-te acum pentru analize și comentarii fără prietenii cu oamenii de fotbal
  sau cu casele de pariuri ↓ ↓ ↓
</p>

{% include "newsletter-form.njk" %}
