<div class="newsletter-wrapper">
  <h2>📬 Abonează-te acum la CameraVAR.ro ↓ ↓ ↓</h2>
  <form
  action="https://buttondown.com/api/emails/embed-subscribe/cameravar"
  method="post"
  class="newsletter-form"
>
  <div class="input-group">
    <input
      type="email"
      name="email"
      placeholder="Adresa ta de email"
      required
    />
    <button type="submit">Abonare</button>
  </div>

  <p>
    <a href="https://buttondown.com/refer/cameravar" target="_blank">
    </a>
  </p>
</form>
</div>
