document.addEventListener("DOMContentLoaded", function () {
  const forms = document.querySelectorAll(".newsletter-form");

  forms.forEach((form) => {
    form.addEventListener("submit", async function (e) {
      e.preventDefault();
      const formData = new FormData(form);

      try {
        await fetch(form.action, {
          method: "POST",
          body: formData,
          mode: "no-cors",
        });

        // redirecționare către pagina de confirmare
        window.location.href = "/sigur-vrei-sa-te-abonezi/";
      } catch (error) {
        const msg = form.querySelector("#form-message");
        msg.textContent = "Ceva nu a mers, încearcă din nou.";
      }
    });
  });
});
